@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: "Quicksand";
	color: #333;
}

.clear_btn {
    all: unset;
}

.navbar {
	padding: 20px;
	display: flex;
	align-items: center;
	max-width: 1500px;
	margin: 0 4%;
	border-bottom: 1px solid #e2e2e2;
}

.navbar h1 {
	color: #f1356d;
}

.navbar .links {
	margin-left: auto;
}

.navbar a {
	margin-left: 16px;
	text-decoration: none;
	padding: 6px;
}

.navbar a:hover {
	color: #f1356d;
}

.logout_btn {
	margin-left: 16px;
}

.logout_btn:hover {
	color: #f1356d;
}

.content {
	max-width: 600px;
	margin: auto;
	padding: 20px;
}

.homepage {
	margin-left: 10%;
	max-width: 45%;
}

.activity_info {
    width: 80%;
    margin: 0.5rem;
}

.activity_item {
    margin: 0.5rem;
	border-bottom: 1px solid #e0e0e0;
    display: flex;
	padding-bottom: 10px;
}

.activity_subitem {
    margin:1rem;
}

.activity_item_options {
    display: flex;
    align-items: center;
    margin: 0.5rem;
}

.add_activity {
    margin: 2rem;
}

.add_activity label {
    font-size: 1.7rem;
    font-weight: bold;
}

.add_activity button {
    margin: 1rem;
}

.add_activity input {
    width: 25%;
    margin: 1rem;
}

.btn {
    max-width:100px;
    max-height: 30px;
    margin-left: auto;
    background-color: #f06060;
}

.in_the_middle {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
}
